* { font-family: Tahoma, "DejaVu Sans"; font-size: .97em }

#topo {
    position: fixed;
    background-image: url('../imagens/topo-repeticao.png');
    background-repeat: repeat-x;
    height: 60px;
    width:100%;
    top:0;
    z-index: 9999;
}
#topo-imagem {
    background-image: url('../imagens/topo.png');
    background-repeat: no-repeat;
    height: 60px;
    padding-left: 130px;
    padding-top: 30px;
    font-size: 22px;
    color:white;
    overflow: hidden;
    text-shadow: black 0.1em 0.1em 0.2em
}
#corpo-interno {
    overflow: auto;
    padding: 5px 2%;
    margin: 0;
}
#formLogin {
    margin:	auto;
    padding:20px;
    border:solid 1px #ddd;
    width:340px;
    text-align:center;
}
#sair {
    position:absolute;
    top:65px;
    right:10px;
    /*font-size: 1em; */
    text-align:right;
}
label {
    font-weight:bold; /* border-bottom: solid 1px #000; */
}
input, select, textarea { margin-bottom: 10px; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}
user agent stylesheet
input[type="password" i] {
    -webkit-text-security: disc;
}